<footer id="footer" class="section">
    <div class="section__inner">
    <p class="copy">20歳未満の者の飲酒、飲酒運転は法律で禁止されています。<br/>
        妊娠中や授乳期の飲酒はやめましょう。
        </p>
    <h1>
      <a href="/" class="hover">
        <img src="<%- path %>/img/logo.svg" alt="Aging Care Wine Certified" />
        <img src="<%- path %>/img/ja.svg" alt="エイジングケアワイン.jp" />
      </a>
    </h1>
    </div>
<footer>