<header id="header" class="section">
  <div class="section__inner flex flex-sp align-center space-between">
    <h1>
      <a href="/" class="hover flex flex-sp">
        <img src="<%- path %>/img/logo.svg" alt="Aging Care Wine Certified" />
        <img src="<%- path %>/img/ja.svg" alt="エイジングケアワイン.jp" />
      </a>
    </h1>
    <nav id="menu">
      <ul class="flex">
        <li>
          <a href="/about/" class="hover">
            エイジングケアワイン認定について
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener" class="hover"></a>
            ワインリスト
          </a>
        </li>
      </ul>
    </nav>
    <div class="menu-trigger sp">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</header>