<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '', description: '', keywords: '', url: '', ogimage: '', path: './../assets'}) %>
</head>

<body class="">
  <div id="container">
    <%- include('parts/_header', {path: './../assets'}) %>
    <main id="about">
      <section class="section">
        <div class="section__inner">
          <div class="content">
            <h2 class="anim normal">エイジングケアワイン認定について</h2>
            <h3 class="anim normal">ワインによる糖化ケア作用の測定方法</h3>
            <p class="anim normal">ヒト血清アルブミン(HSA)-グルコース糖化モデルにワインを添加し、糖化最終生成物（AGEs）の生成率を測定</p>
            <div class="box anim normal">
              <p>解説：タンパク質と糖が存在する環境で熱が加わると、タンパク質が次第に変化し、最終的にAGEsが生成されます。AGEsは分解されにくいため、食事由来のAGEsや体内で生成されたAGEsが過剰に蓄積すると、老化に関わるさまざまな現象に影響を及ぼすとされています。実験では、試験管にタンパク質（HSA）、ブドウ糖（グルコース）、ワインを加え、60度で40時間加熱した後のAGEsを測定しています。これは、体内での糖化反応の約60日分に相当します。</p>
            </div>
          </div>
          <div class="content">
            <h3 class="anim normal">比較対照</h3>
            <p class="anim normal">アミノグアニジン</p>
            <div class="box anim normal">
              <p>解説：糖化を抑える作用がよく知られており、多くの糖化研究で標準的な比較対照として用いられているアミノグアニジンを、エイジングケアワイン認定のための実験でも採用しました。用量は、1型糖尿病患者さんを対象に実施された臨床研究1)のなかで高用量のアミノグアニジンを投与されたグループ（300mg/日）と同等の作用が得られるよう、300mL（濃度：1mg/mL）に設定しました。</p>
            </div>
          </div>
          <div class="content">
            <h3 class="anim normal">ワインの濃度設定</h3>
            <p class="anim normal">原液から24倍希釈</p>
            <div class="box anim normal">
              <p>解説：ワインの濃度設定では、まず「節度ある適度な飲酒量」2)の基準値である1日平均の純アルコール量20gを参考にしました。ただし、女性は男性に比べてアルコールの影響を受けやすいと言われているため、20gの3分の2である13.3gを基準にしました。この純アルコール量は、アルコール度数13.5%のワイン125mLに相当します（ワイングラス約1杯分）。<br/>
                ワイン125mLとアミノグアニジン300mLを同じ条件で比較するには、ワインを2.4倍に希釈する必要があります。エイジングケアワイン認定のための実験では高い基準を設け、2.4倍希釈をさらに10倍薄めた24倍希釈のワインをアミノグアニジンと比較しています。</p>
            </div>
          </div>
          <div class="content">
            <h3 class="anim normal">認定基準</h3>
            <p class="anim normal">ワイン（24倍希釈）を添加したときのAGEs生成率が、アミノグアニジン 1mg/mLを添加したときに比べて統計学的に有意に低かった場合</p>
            <div class="box anim normal">
              <p>解説：実験では、タンパク質と糖のみを加熱したときに生成されるAGEsを100とし、これに対する割合をAGEs生成率として算出します。アミノグアニジン 1mg/mLを添加した場合のAGEs生成率は42％前後となるため、24倍希釈のワインがこの値を統計学的に意味のあるレベルで下回っていた場合に、該当するワインを「エイジングケアワイン」と認定しています。統計学的検定にはt-検定を使用し、p値が0.05を下回った場合に「統計学的有意差あり」と判定しました。</p>
            </div>
            <p class="note anim normal">
              1) Bolton WK, et al. Am J Nephrol 2004; 24(1): 32-40. <br/>
              2) 厚生労働省「健康日本21（第二次）」
            </p>
          </div>
        </div>
      </section>
    </main>
    <%- include('parts/_footer', {path: './../assets'}) %>
  </div>
</body>
<script src="./../assets/js/libs.js"></script>
<script src="./../assets/js/main.js"></script>
</html>