<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '', description: '', keywords: '', url: '', ogimage: '', path: './assets'}) %>
</head>

<body class="">
  <div id="container">
    <%- include('parts/_header', {path: './assets'}) %>
    <main id="home">
      <section class="section common">
        <div class="section__inner">
          <div class="wrapper">
            <div class="content flex space-between">
              <div class="left">
                <p class="title anim normal">
                  エイジングケアワイン認定について
                </p>
                <div class="img sp">
                <picture class=" anim normal">
                  <source srcset="./assets/img/img1.webp" type="image/webp" />
                  <img src="./assets/img/img1.jpg" alt="" />
                </picture>
                </div>
                <p class="text anim normal">
                  ワインによる糖化ケア作用の程度は銘柄により異なります。
                  エイジングケアワイン研究所では、ワインの糖化ケア作用を定量化する実験系を確立し、所定の基準をクリアしたワインを「エイジングケアワイン」として認定しています。
                </p>
                <a href="/about/" class="btn anim normal">
                  <span class="border border-top"></span>
                  <span class="border border-left"></span>
                  <span class="btn-text">詳しくはこちら</span>
                </a>
              </div>
              <div class="right img pc">
                <picture class=" anim normal">
                  <source srcset="./assets/img/img1.webp" type="image/webp" />
                  <img src="./assets/img/img1.jpg" alt="" />
                </picture>
              </div>
            </div>
            <div class="content flex space-between">
              <div class="left">
                <p class="title anim normal">
                  ワインリスト
                </p>
                <div class="img sp">
                <picture class=" anim normal">
                  <source srcset="./assets/img/img2.webp" type="image/webp" />
                  <img src="./assets/img/img2.jpg" alt="" />
                </picture>
                </div>
                <a href="#" class="btn anim normal" target="_blank" rel="noopener noreferrer">
                  <span class="border border-top"></span>
                  <span class="border border-left"></span>
                  <span class="btn-text">詳しくはこちら</span>
                </a>
              </div>
              <div class="right img pc">
                <picture class=" anim normal">
                  <source srcset="./assets/img/img2.webp" type="image/webp" />
                  <img src="./assets/img/img2.jpg" alt="" />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('parts/_footer', {path: './assets'}) %>
  </div>
</body>
<script src="./assets/js/libs.js"></script>
<script src="./assets/js/main.js"></script>
</html>