<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: 'エイジングケアワイン.jp｜エイジングケアワイン認定、認定ワインリスト', description: 'エイジングケアワイン研究所では老化物質AGEsの生成を抑える作用が認められ、糖化の進行予防に役立つ可能性のあるワインを「エイジングケアワイン」と称することとしました。研究所では、ワインの糖化ケア作用を定量化する実験系を確立し、所定の基準をクリアしたワインを「エイジングケアワイン」として認定しています。', keywords: '', url: 'agingcarewine.jp', ogimage: './assets/img/ogp.png', path: './../assets'}) %>
</head>

<body class="">
  <div id="container">
    <%- include('parts/_header', {path: './../assets'}) %>
    <main id="about">
      <section class="section">
        <div class="section__inner">
          <div class="content">
            <h2 class="anim normal">糖化について</h2>
            <h3 class="anim normal wine">糖化とはどんな現象？
            </h3>
            <div class="box anim normal">
              <div class="flex img-wrapper anim normal">
                <div class="img">
                  <img class="anim normal" src="./../assets/img/touka/img1.jpg" alt="" />
                </div>
                <div class="img">
                  <img class="anim normal" src="./../assets/img/touka/img2.jpg" alt="" />
                </div>
              </div>
              <p class="anim normal">玉ねぎをフライパンで炒めると、次第にきつね色になります。<br/>
                これは糖とタンパク質を加熱することで生じる「糖化」という化学反応で、発見者にちなみ「メイラード反応」とも呼ばれています。<br/><br/>
                糖化はフライパンの上だけの現象ではなく、人のからだの中でも起こります。<br/>
                人体を構成する要素の中で、タンパク質は水分に次いで多い成分です。<br/>
                そんなタンパク質に、体温という暖かい環境の中で糖が結びつくと、元のタンパク質は次第に姿を変えていきます。<br/><br/>
                健康診断で、「HbA1c（ヘモグロビンエーワンシー）」という検査項目を目にしたことがある人は多いと思います。<br/>
                これは赤血球に含まれるタンパク質「ヘモグロビン」に、血液中のブドウ糖が結びついた物質の割合を見たものです。<br/>
                物質の名前は「糖化ヘモグロビン」。私たちは知らず知らずのうちに、体内で起こっている糖化反応を定期的に測定しているのです。<br/><br/>
                体内にはタンパク質と糖が豊富に存在しているため、からだの中では日常的に糖化が起こっています。<br/>
                糖化反応は初期段階では元に戻る性質があるため、糖が過剰な状態が続かなければ大きな問題にはなりません。<br/>
                しかし糖化が進んでくると、次第に後戻りができない性質に変わり、最終的には“コゲ”とも呼ばれる糖化最終生成物（AGEs；advanced glycation end products）が作られます。<br/><br/>
                AGEsは糖化最終段階で作られた物質の総称で、これまで数十種類あることが知られています。<br/>
                数あるAGEsの一般的な特徴は「分解されにくく、体内で徐々に蓄積する」こと。<br/>
                これが見た目やからだの中のエイジングケアにとって大敵であることが分かってきています。     
              </p>
            </div>
          </div>
          <div class="content">
            <h3 class="anim normal wine">糖化はお肌や体内の変化と深く関係する</h3>
            <div class="box">
              <p class=" anim normal">糖化＝AGEsの蓄積は、からだのさまざまな変化と密接に関わっています。<br/><br/>
                エイジングケアで関心の高いお肌の変化は、AGEsと関係することが分かっています。<br/>
                国内の研究では、皮膚に蓄積したAGEs量が多くなるほど、画像解析で判定した“見た目年齢”が高くなるとされています※1。<br/><br/>
                細かく皮膚の内部を見てみると、表皮でのAGEsの蓄積は①変化が戻りにくくなる、②肌のうるおい成分（セラミド、コレステロールなど）が減少する、③ケラチノサイトの構造が破壊されて角質層のバリア機能が低下する、④メラニン色素が増加してシミ・ソバカスの原因になる、といった影響を及ぼします※2。</p>
                <div class="img-wrapper anim normal mt">
                  <div class="img">
                    <img class="anim normal" src="./../assets/img/touka/img3.jpg" alt="" />
                  </div>
                </div>
                <p class=" anim normal">皮膚をはじめとした「見た目」の若々しさは、体内の健康とも無縁ではありません。
                  オランダから報告された最新の研究によると、人の評価した見た目年齢は、からだの様々な変化と関連していたことが明らかになりました※3。<br/>
                  加齢に関連する変化と糖化の関係については数多くの研究成果が報告されており、これまでにAGEsが血管、認知、関節などの身体の変化を引き起こす原因物質の1つであることが分かっています※4。<br/><br/>
                  一連の研究から、老化物質AGEsを体内に蓄積させないようにすることは、見た目の若々しさだけでなく、体内の健康を保つうえでも大切な要素であることが分かります。</p>
                <p class="note anim normal">
                  1) Hori M et al., Anti-Aging Medicine, 2012; 9(5): 125-134.<br/>
                  2) Sugiura S et al., Glycative Stress Research, 2023, 10(4): 164-170.<br/>
                  3) Bolton WK et al., Am J Nephrol 2004; 24(1): 32-40. <br/>
                  4) 厚生労働省「健康日本21（第二次）」
                </p>
            </div>
          </div>
          <div class="content">
            <h3 class="anim normal wine">AGEsはなぜ変化を引き起こすのか</h3>
            <p class="anim normal">AGEsが変化を引き起こすメカニズムには、以下のようなものがあります。</p>
            <div class="box">
              <p class=" anim normal">
                <span class="title">1. タンパク質の間に劣化した「橋」をかける</span>
                皮膚や骨、血管などでは、コラーゲンタンパク質が組織をしなやかに保つ役割を果たしていて、そこではスプリングのような「架橋」が規則正しく橋をかけています。ところがAGEsが蓄積すると、コラーゲンの間に無秩序な橋をかけてしまうため、組織全体の安定性が崩れて壊れやすい構造になります。
              </p>
              <div class="img-wrapper anim normal mt">
                <div class="img">
                  <img class="anim normal" src="./../assets/img/touka/img4.jpg" alt="" />
                </div>
              </div>
              <p class=" anim normal">
                <span class="title">2. 細胞表面の鍵穴（受容体）と結合して酸化ストレスを生む</span>
                血管を形作る細胞などの表面には、AGEsと結合するための鍵穴（受容体）があります。代表的なものにRAGE (receptor for AGEs) があり、AGEsとRAGEが結合すると、細胞の中で酸化ストレスが作り出され、血流の巡りを滞らせるなどを引き起こす原因になります。
              </p>
              <div class="img-wrapper anim normal mt">
                <div class="img">
                  <img class="anim normal" src="./../assets/img/touka/img5.jpg" alt="" />
                </div>
              </div>
              <p class=" anim normal">
                <span class="title">3. 糖化と酸化の循環が「変化」を加速させる</span>
                これまで変化には酸化ストレスの関わりが大きいとされてきました。しかし近年では、酸化の根底には糖化があることや、「糖化が酸化ストレスを引き起こし、酸化ストレスが糖化をさらに促進する」という循環を生むことも分かっています。
              </p>
              <div class="img-wrapper anim normal mt">
                <div class="img">
                  <img class="anim normal" src="./../assets/img/touka/img6.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <h3 class="anim normal wine">糖化対策がエイジングケアの新常識へ</h3>
            <div class="box">
              <p class=" anim normal">現在、エイジングケアにはさまざまな方法が提案されていますが、からだの変化の中心ともいえる糖化に注目したケアはこれからのエイジングケアの新しい常識になる可能性があります。<br/><br/>
                糖化に気を付けた日常生活の主なポイントとして、以下の8つが挙げられます。<br/><br/>
                ・糖質を多くとらない<br/>
                ・AGEsが多く含まれた食品を減らす（揚げ物や焦げた食品）<br/>
                ・糖化ケア作用のある食品・飲料をとる<br/>
                ・適度な運動で糖を消費する<br/>
                ・ストレスをためない<br/>
                ・適度な飲酒<br/>
                ・禁煙<br/>
                ・紫外線対策<br/><br/>
                いずれも日常生活の中で無理なく実践できる内容のため、できるところから糖化ケア習慣を始めてみませんか？</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('parts/_footer', {path: './../assets'}) %>
  </div>
</body>
<script src="./../assets/js/libs.js"></script>
<script src="./../assets/js/main.js"></script>
</html>